<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Pengguna</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="sidebar-title">Parkir Kampus</h2>
        <a th:href="@{/}" class="menu-item">Dashboard</a>
        <a th:href="@{/pengguna}" class="menu-item active">Pengguna</a>
        <a th:href="@{/kendaraan}" class="menu-item">Kendaraan</a>
    </aside>

    <!-- Main Content -->
    <main class="content">
        <h1>Data Pengguna</h1>

        <div class="table-card">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="p : ${penggunaList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nama}"></td>
                    <td th:text="${p.email}"></td>
                    <td th:text="${p.statusAktif} == true ? 'Aktif' : 'Nonaktif'"></td>
                </tr>
                </tbody>
            </table>
